@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;700&display=swap');

$bg-main: #ebf6f8;
$orange: #ff5c00;
$grey-border: #ebebeb;
$black: #000000;
$white: #ffffff;
$off-black: #a5a5a5;

$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
